<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Forms uploads</h1>
  </div>
  <div id="front_office_forms_uploads" class="min-w-full flex flex-col mt-3">
    <%= render partial: "front_office/forms_uploads/forms_upload", collection: @form_with_forms_uploads %>
  </div>
</div>
